* {
	margin: 0;
	padding: 0;
}

body {
	background: #ddd;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 12px;
	color: #000;
}

#sitewrapper {
	width: 980px;
	margin: 20px auto;
}

#content {
	background: #fff;
	border: double 3px #888;
	padding: 10px;
}

#footer {
	padding: 10px 20px;
	font-size: 0.9em;
}