/**
 * Main stylesheet file.
 *
 * 1. bookmark list
 *
 */


/* 1. bookmark list */

#linklist {
	padding: 5px;
}

	#linklist .id {
		text-align:right;
	}

	#linklist .item {
		width: 650px;
		height: 85px;
	}

		#linklist .previewThumb {
			background: url(/img/static/nothumb.png);
			border: solid 1px #aaa;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			width: 100px;
			height: 75px;
			float:left;
		}

		#linklist .infocontrol {
			margin: 0 0 0 110px;
		}

		#linklist .buttons {
			padding: 5px 0;
		}

	#tagCloud {
		border: solid black;
		border-width: 0 0 1px 1px;
		width: 250px;
		height: 150px;
		padding: 10px;
		float: right;
	}

		#tagCloud span {
			margin: 2px 5px 2px 0px;
			font-weight: bold;
			float: left;
			cursor: pointer;
		}

		#tagCloud span:hover {
			text-decoration: underline;
		}

		#tagCloud .tagWeight2 {
			font-size: 14px;
		}

		#tagCloud .tagWeight3 {
			font-size: 18px;
		}

		#tagCloud .tagWeight4 {
			font-size: 20px;
		}


