/**
 * Main stylesheet file.
 *
 * 1. Linkform
 * 2. Taglist
 * 3. Linklist
 *
 */



/* 1. Linkform */

#formbox {
	width: 360px;
	height: 150px;
	padding: 0 10px;
	float: left;
}

	#linkform {
	}

		#linkform #linkId-label,
		#linkform #speichern-label {
			display: none;
		}

		#linkform dd {
			margin: 2px 0 7px 0;
		}



/* 2. Taglist */

#taglist {
	width: 560px;
	height: 150px;
	float: right;
}

	#taglist ul li {
		margin: 2px 5px 2px 0px;
		font-weight: bold;
		float: left;
	}

	#taglist .tagWeight2 {
		font-size: 14px;
	}

	#taglist .tagWeight3 {
		font-size: 16px;
	}

	#taglist .tagWeight4 {
		font-size: 18px;
	}


/* 3. Linklist */

#linklist {
	border: solid 1px black;
	margin: 150px 0 0 0;
	padding: 5px;
	clear: both;
}

	#linklist td {
		padding:2px;
	}

	#linklist .id {
		text-align:right;
	}

	#linklist .item .previewThumb {
		background: url(/img/static/nothumb.png);
		border: solid 1px #aaa;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		width: 100px;
		height: 75px;
	}

	#linklist .item button {
		background: #ccc;
	}

	#linklist .item .add {
		color: green;
	}

	#linklist .item .del {
		color: red;
	}







